.images{
    width: 300px;
    padding: 20px;
}
.logo{
    width: 600px;
    padding: 20px;
}
.full {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    background-color: #EEBA30;
    
}

.fordev {
    text-align: center;
    align-items: center;
}
.harry {
    color: #AE0001;
    font-family: 'Vujahday Script', cursive;
}
.desc   {
    text-align: center;
    color: #740001;

}